html{
    height: 100%;
}
body{
    background-image:url(../img/gradient.png), url(../img/concert.jpeg);
    /* display: flex;
    flex-direction: column;
    min-height: 100%; */
    background-size: auto;
}
.booking-main-heading{
    margin: 50px;
    font-size: 2em;
    text-align: center;
    color: black;
    font-family: cooper;
}
.booking-form{
    display: grid;
    grid-template-columns:1fr;
    width: 90%;
    margin: 0 auto;
    grid-gap: 10px;
    font-weight: 600;
    margin-bottom: 1.5em;
    max-width: 30em;
    flex: 1;

}
.booking-form label, .booking-form input, .booking-form select{
    padding: 0.7rem;
    font-size: 1em;
    
}
label{
    /* grid-column: 1/2; */
    background-color: white;
    
}
input{
    /* grid-column: 2/3; */
    border: none;
    
}

/* .button-package1 ,.button-package2,.button-package3,.button-package4,.package-label,.booking-button{
    grid-column: 4/5;
    background-color: #C4B8B8;
    
}
.button-qty1,.button-qty2,.button-qty3,.button-qty4,.qty-label{
    grid-column: 5/6;
}
.price1,.price2,.price3,.price4,.price-label{
    grid-column: 6/7;
    background-color: #FFD700;
}
.select1,.select2,.select3,.select4 {
    grid-column: 7/8;
}
.package-label,.qty-label,.price-label{
    grid-row: 1/2;
}
.button-package1,.button-qty1,.price1,.select1{
    grid-row: 2/3;
}
.button-package2,.button-qty2,.price2,.select2{
    grid-row: 3/4;
}
.button-package3,.button-qty3,.price3,.select3{
    grid-row: 4/5;
}
.button-package4,.button-qty4,.price4,.select4{
    grid-row: 5/6;
} */
.booking-button{
background-color: white;
margin-bottom: 40px;
padding: 0.7em;



}
/* 
.select1,.select2,.select3,.select4{
    border-radius: 20px;
    border: none;
    color: red;
    font-weight: 600;
    font-size: 1em;
}
.price1,.price2,.price3,.price4,.price-label,.qty-label{
    text-align: center;
}
.package-label,.price-label{
    background-color: white;
} */

form button {
    background: lightgrey;
    padding: 0.7em;
    width: 100%;
    border: 0;
  }

  @media screen and (min-width:768px){
    .booking-form{
        display: grid;
        grid-template-columns:Auto 1fr;
        max-width: 50em;
  }
  body{
    background-size: cover;
  }
  .booking-main-heading{

    font-size: 2.5em;

}
.booking-button{

    grid-column: 2/3;
    font-size: 1em;
 
    
    
    }
}
