body{
    font-size: 1em;
    font-family:Montserrat;

}
.navigation_container{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
    justify-content: space-between;
    height: 100px;


}
.navigation_links{
    display: flex;
    padding: 10px;
    background-color: black;
    text-transform: uppercase;
        
}
.logo-container{
 height: 100%;


}
.logo-item{
    height: 100%;
}
.veld-logo{
    height: 100%;
}
.nav-item a{
    color: white;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
}
.main-content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}