body{
    font-size: 1em;
    font-family:Montserrat;
    background-image:url(../img/gradient.png) ,url(../img/festival2.jpeg);
    background-repeat: no-repeat;
    background-size: cover;

}
.hero-banner-container{
    background-image: url(../img/rock-guitar.jpeg);
    width: 90%;
    margin: 0 auto;
    background-position: center;
    height: 25em;
    background-size: cover;
    border-radius: 20px;
    text-align: center;
}
.primary-main-content-heading{
    color: white;
    font-family: cooper;
    font-size: 4em;
    padding-top: 20px;
}
.hero-banner-paragraph{
    color: white;
    font-weight: bold;
    font-size: 1.5em;
    
}
.booking-button{
    border-radius: 20px;
    font-size: 1.5em;
    padding: 20px;
    background-color: white;
    color: red;
    font-weight: bold;
    font-family: cooper;
    margin-top: 40px;
    border: none;
}

.navigation_container{
    display: flex;
    align-items: center;
    background-color: black;
    padding: 10px;
    justify-content: space-between;
    height: 80px;


}
.navigation_links{
    display: flex;
    padding: 10px;
    background-color: black;
    text-transform: uppercase;
        
}
.logo-container{
 height: 100%;


}
.logo-item{
    height: 100%;
}
.veld-logo{
    height: 100%;
}
.nav-item a{
    color: white;
    padding: 20px;
    font-weight: bold;
    text-decoration: none;
}
/* .main-page-body-container{
    background-image: url(/img/festival2.jpeg);
} */
.main-content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* background-color: grey; */
    margin: 0 auto;
    /* width: 90%; */
    padding: 0 20px;
    justify-items: center;
}
.main-content-image{
    width: 15em;
    background-color: white;
    border-radius: 20px;
}
.image-container{
    width: 15em;
    height: 15em;
}
.image-item{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}
.artist-name{
    text-align: center;
    font-weight: bold;
}
.artist-name a{
    text-decoration: none;
    color: black;
}
.secondary-main-content-heading{
    background-color: black;
    color: white;
    text-align: center;
}
.book-button-bottom-container{
    text-align: center;
    margin: 20px;
}
.book-button-bottom{
    /* text-align: center; */
    border-radius: 20px;
    font-size: 1.5em;
    padding: 20px;
    background-color: white;
    color: red;
    font-weight: bold;
    font-family: cooper;
    border: none;
    

}
.footer-menu{
    background-color: black;
    font-weight: bold;
}
.footer-paragraph{
    color: white;
    text-align: center;
}