body{
    background-image: url(/img/dababy.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}
.profile-hero-container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 90%;
    margin: 0 auto;
    padding: 30px 0;
}
.profile-main-header{
    font-size: 4em;
    font-family: cooper;
    margin: 0;
}
.profile-secondary-header{
    font-size: 2.5em;
    font-family: cooper;
    margin: 0;
}
.profile-main-paragraph{
    color: white;
    font-size: 1.5em;
    font-weight: bold;

}
.profile-image-container{
    /* width: 20em; */
    height: 20em;

}
.profile-content-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    width: 90%;
    margin: 0 auto;
    grid-gap: 20px;
}
.hero-image-container{
    /* width: 50em; */
    height: 25em;
}